<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<!-- mui-->
		<script src=" js/mui.min.js"></script>
		<link href=" css/mui.min.css" rel="stylesheet" />
		<!-- jq-->
		<script type="text/javascript" src=" js/jquery-2.1.4.js"></script>
		<!-- other-->
		<script src=" js/clipboard.min.js"></script>
		<script src=" js/count.js"></script>
		<link href=" css/mui.picker.css" rel="stylesheet" />
		<link href=" css/mui.poppicker.css" rel="stylesheet" />
		<link rel="stylesheet" href=" css/reset.css" />
		<link rel="stylesheet" href=" css/style.css" />
		<script src=" fonts/iconfont.js"></script>


		<style>
			.r-wrap{padding-bottom: 30px;}
			.r-wrap {
				width: 100%;
				position: fixed;
				top: 20px;
				bottom: 0px;
				text-align: center;
				overflow-y: scroll;
				-webkit-overflow-scrolling: touch;
				-ms-touch-action: pan-y cross-slide-y;
				-ms-scroll-chaining: none;
				-ms-scroll-limit: 0 50 0 50;
			}
			h2{text-align: left;}
		</style>
	
	</head>
	<body>
		<header id="header" class="mui-bar mui-bar-nav" style="background: #FFFFFF !important;">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left gray-style"></a>
			<h1 class="mui-title">发布商品</h1>
		</header>  
		<div class="r-wrap" id="fbsp">
	


			<form style="margin-top: 20px;">
				<div class="mui-input-row">
					<input id="name" type="text" class="mui-input-clear text-input" placeholder="商品名称" v-model="name">
				</div>
				<div class="mui-input-row">
					<input id="category" type="text" class="mui-input-clear text-input" placeholder="商品行业" v-model="category" readonly="readonly">

				</div>
				<div class="mui-input-row">
					<input id="payType" type="text" class="mui-input-clear text-input" placeholder="货币方式"  readonly="readonly">
				</div>
				<div class="mui-input-row">
					<input id="price"  pattern="\d*" maxlength="11" type="text" class="mui-input-clear text-input" placeholder="价格" v-model="price">
				</div>
				<div class="mui-input-row">
					<input id="kc" pattern="\d*" maxlength="11" type="text" class="mui-input-clear text-input" placeholder="库存"
					 v-model="kc">
				</div>
				<div class="mui-input-row">
					<h2>商品封面(限1张)</h2>

					<div style="width: 33%; float: left;position: relative;" v-for="(item, index) in photo_fm" v-if="photo_fm">
						<img :src="item.localurl" data-preview-src="" data-preview-group="1" style="width: 80px;height: 80px;">
					</div>
					<div style="width: 33%; float: left;position: relative;" v-if="photo_fm.length<1">
						<img src=" img/add.png" style="width: 50px;height: 50px;margin-top: 15px;margin-left: 10px;margin-bottom: 15px;" id="addFmPic" />
					</div>
				</div>

				<div class="mui-input-row">
					<h2>商品轮播图(限3张)</h2>

					<div style="width: 33%; float: left;position: relative;" v-for="(item, index) in photo_shop" v-if="photo_shop">
						<img :src="item.localurl" data-preview-src="" data-preview-group="1" style="width: 80px;height: 80px;">
					</div>
					<div style="width: 33%; float: left;position: relative;" v-if="photo_shop.length<3">
						<img src=" img/add.png" style="width: 50px;height: 50px;margin-top: 15px;margin-left: 10px;margin-bottom: 15px;" id="addShopPic" />
					</div>
				</div>


				<div class="mui-input-row" style="margin-top:30px;">
					<textarea placeholder="商品简介(50字以内简单描述)" maxlength="50" style="height: 100px;" v-model="brief"></textarea>
				</div>

				<a class="r-btn" id="createId">提交申请</a>
				<span style="text-align: center;font-size: 14px;color: #aaaaaa;"></span>

			</form>

		</div>
		<script src=" js/mui.picker.js"></script>
		<script src=" js/mui.poppicker.js"></script>
		<script src=" js/axios.js"></script>
		<script src=" js/config.js"></script>
		<script src=" js/vue.js"></script>
		<script src=" js/mescroll.min.js"></script>
		<script src="js/source/fbsp.js"></script>
		<script type="text/javascript">
			sendPost('/trail/getCategory', null).then(function(res) {
				//alert(JSON.stringify(res.data))
				var _getParam = function(obj, param) {
					return obj[param] || '';
				};
				var picker = new mui.PopPicker();
				picker.setData(res.data.category);
				var showUserPickerButton = document.getElementById('category');

				showUserPickerButton.addEventListener('tap', function(event) {
					picker.show(function(items) {
						fbsp.category = items[0].text;
					});
				}, false);

			})
			
			var _getParam = function(obj, param) {
								return obj[param] || '';
							};
							var picker = new mui.PopPicker();
							picker.setData([{text:'TTI',value:0}]);
							var pickerButton = document.getElementById('payType');
			
							pickerButton.addEventListener('tap', function(event) {
								picker.show(function(items) {
									fbsp.payType = items[0].value;
									$("#payType").val(items[0].text);
								});
			}, false);

			document.addEventListener('plusready', function() {

				document.getElementById('addShopPic').addEventListener('tap', function() {
					fbsp.photo_type = 1
					fbsp.chooseWay()
				});

				document.getElementById('addFmPic').addEventListener('tap', function() {
					fbsp.photo_type = 2
					fbsp.chooseWay()
				});
				document.getElementById('createId').addEventListener('tap', function() {
					fbsp.submitShq()
				});


			});

		</script>

	</body>
</html>
