<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的淘淘</title>
		<script src="js/mui.min.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/reset.css" />
		<script type="text/javascript" src="js/count.js"></script>
			<link rel="stylesheet" href="css/mescroll.min.css" />
		<link rel="stylesheet" href="css/style.css" />
	
		<script type="text/javascript" src="js/jquery-2.1.4.js"></script>


	</head>

	<body class="nav-page top-page color-page ">
	<header id="header" class="mui-bar mui-bar-nav">		
		<h1 class="mui-title">我的淘淘</h1>
		<a class="mui-icon mui-icon-gear mui-pull-right" onclick="openWin('setting.html')"></a>
	</header>
	<div id="mine" class="mescroll">
		
	<div class="member-info">
		<h1  v-if="login">{{sys_userInfo?sys_userInfo.name:wx_userInfo.nickname}}</h1>
		<h2  v-if="login">淘淘星球第 {{userCount+10588}}位淘淘达人</h2>
		<img v-if="login" src="img/gray_sex_girl.png"/>
		<img  v-if="!login" src="img/gray_sex_girl.png"/>
		<div   v-if="!login" class="center-login" @click="checkLogin()">立即登录</div>
	</div>
	<div class="member-center">
		<h1 class="line-tit" style="border: none;"><a>我的钱包</a> </h1>
		<div class="money-box" @click="toWallet"  style=" margin: 0 auto 1rem auto;">
			<!--无钱包状态-->
			<h2 v-if="!wallet.id">快来创建属于你的数字资产</h2>
			<a v-if="!wallet.id" style="width: 100%; height: 5rem; position: absolute; top: 0; text-align: center; line-height: 5rem;" href="javascript:void(0);"><img style="width: 5%;" src="img/add_put_forward.png"/></a>
			<!--有钱包状态-->
			<h2 v-if="wallet.id">我的钱包地址</h2>
			<h4 v-if="wallet.id">0x{{wallet.id}}</h4>
			<h3 v-if="wallet.id">TTI余额：{{wallet.alcoValue}}</h3>
			<h3 v-if="!wallet.id">TTI余额：<span>登陆查看</span></h3>
		</div>
		<ul class="my-list">
		<!-- 	<li onclick="openWin('yb-history.html')">
				<a>
					<img src="img/wdyb.png"/>
					<p>我的元宝</p>
				</a>
			</li> -->
			<li onclick="openWin('sj-history.html')">
				<a>
					<img src="img/my_cash_icon.png"/>
					<p>我的TTI</p>
				</a>
			</li>
			<li onclick="openWin('power-history.html')">
				<a>
					<img src="img/mine_wine_master_bg.png"/>
					<p>我的原力</p>
				</a>
			</li>
			
		
			<li onclick="openWin('vip-center.html')">
				<a>
					<img src="img/dj.png"/>
					<p>我的等级</p>
				</a>
			</li>
		
		</ul>
		<div class="line"></div>
		<h1 class="line-tit"><a href="javascript:void(0);" onclick="openWin('sh-order-1.html')">TTI交易订单<span class="mui-icon mui-icon-arrowright"></span><span>查看更多订单</span></a> </h1>
		<ul class="my-list">
			<li onclick="openWin('sh-order-1.html')">
				<a >
					<img src="img/purchase_order.png"/>
					<p>购入订单</p>
				</a>
			</li>
			<li onclick="openWin('sh-order-1.html')">
				<a >
					<img src="img/cr.png"/>
					<p>出让订单</p>
				</a>
			</li>			
		</ul>
		<div class="line"></div>
		<h1 class="line-tit"><a href="javasccript:void(0);" >商品订单<span class="mui-icon mui-icon-arrowright"></span><span>查看更多订单</span></a> </h1>
		<ul class="my-list">
			<li @click="openMallOrder(0)">
				<a>
					<img src="img/order_paying.png"/>
					<p>待付款</p>
				</a>
			</li>
			<li @click="openMallOrder(1)">
				<a>
					<img src="img/order_recived.png"/>
					<p>待收货</p>
				</a>
			</li>	
			<li @click="openMallOrder(2)">
				<a >
					<img src="img/order_over.png"/>
					<p>已完成</p>
				</a>
			</li>
		</ul>
		<div class="line"></div>
	<!-- 	<h1 class="line-tit"><a >幸运兑<span class="mui-icon mui-icon-arrowright"></span><span>查看我参与的</span></a> </h1>
		<ul class="my-list">
			<li>
				<a >
					<img src="img/luck_doing.png"/>
					<p>进行中</p>
				</a>
			</li>
			<li>
				<a >
					<img src="img/luck_not_winning.png"/>
					<p>未中奖</p>
				</a>
			</li>	
			<li>
				<a >
					<img src="img/luck_winning.png"/>
					<p>已中奖</p>
				</a>
			</li>
		</ul> -->
		<div class="line"></div>
	<!-- 	<h1 class="line-tit" onclick="openWin('jd.html')"><a>酿酒基地<span class="mui-icon mui-icon-arrowright"></span></a> </h1>
		<h1 class="line-tit" onclick="openWin('childPage-1.html')"><a>加速酿酒<span class="mui-icon mui-icon-arrowright"></span></a> </h1>
		<h1 class="line-tit"><a>公益池<span class="mui-icon mui-icon-arrowright"></span></a> </h1> -->
		<h1 class="line-tit" onclick="openWin('answer.html')"><a>帮助中心<span class="mui-icon mui-icon-arrowright"></span><span>世界问答</span></a> </h1>
		<h1 class="line-tit" onclick="openWin('aboutUs.html')"><a>联系我们<span class="mui-icon mui-icon-arrowright"></span></a> </h1>
		<!-- <h1 class="line-tit"><a>设置<span class="mui-icon mui-icon-arrowright"></span></a> </h1> -->
		<h1 class="line-tit"><a>版本号<span>1.5.2</span> </a></h1>
	
		
		
		
	
	
	</div>	

</div>	
	<ul class=" down-nav">
			<li >
				<a href="javascript:void(0);" onclick="openWin('index.html')"> <img src="img/icon/nav1-1.png" />淘淘星球</a>
			</li>
	<li>
		<a href="javascript:void(0);" onclick="openWin('findPower.html')"> <img src="img/icon/nav2-1.png" />发现原力</a>
	</li> 
			<li>
				<a href="javascript:void(0);" onclick="openWin('mall.html')"><img src="img/icon/nav3-1.png" />淘淘商城</a>
			</li>
			<li class="current">
				<a href="javascript:void(0);" onclick="openWin('mine.html')"><img src="img/icon/nav4-2.png" />我的淘淘</a>
			</li>

		</ul>
		<script src="js/config.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/axios.js"></script>
		<script src="js/mescroll.min.js"></script>
		<script src="js/source/mine.js"></script>
		<script>
			
document.addEventListener('plusready', function() {
			//关闭非当前webview
			
			var all = plus.webview.all();
			var current = plus.webview.currentWebview();
			for (var i = 0, len = all.length; i < len; i++) {
			
				if (all[i] != current) {
					all[i].close(this,false,2000,false);
				}
			}
			})
		</script>
	</body>

</html>